div.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    div.card{
        width: 32%;
        max-width:none;
        margin-bottom:1.2rem;
    }
}